<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/login_style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
	<form action="/" method="POST">
		<div class="login_form">
			<span class="login_field">Login: <input class="login_input" name="name"></input></span> <br>
			<span class="pass_fiel">Password:<input value="Password" type="password" name="passw"></input></span> <br>
			<span style="color: darkred">Error: Login and password mustn't be shorter than 6 chars</span> <br>
			<input type="submit" value="Login">
		</div>
	</form>
</body>
</html>